/* setting button back to default */
*{
    padding: 0;
    margin: 0;
}

/* container position styling */
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 190px;
}
/* container header position styling */
.container h1{
    padding-right: 200px;
    padding-bottom: 5px;
}
/* color box styling */
#color-box{
    width: 400px;
    height: 250px;
    background-color: #eaea;
}
/* color button styling */
#change-color-btn{
    margin-top: 10px;
    margin-right: 250px;
    background-color: #eaea;
    color: black;
    height: 50px;
    width: 150px;
    border: 2px solid black;
    border-radius: 30px;
    cursor: pointer;
}